In [2]:
import requests
import requests_cache
import pandas as pd
import folium

In [3]:
requests_cache.install_cache('api_cache', backend='sqlite', expire_after=900)

In [11]:
def kladr_to_address_api(kladr_id):   
  
    data = {
        "query": kladr_id
    }

    api_url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/fias'
    headers = {
        'content-type': 'application/json',
        'Authorization': 'Token 79abf89d58871ed1df79b83126f8f8c2362e51db'
    }
    response = requests.post(api_url, json=data, headers=headers)
    adress_json = response.json()
    try:
        adress_str = adress_json['suggestions'][0]['value']
    except Exception:
        adress_str = None
    return adress_str

In [5]:
def address_to_geo_coord_api(address):
    r = requests.get(f'http://search.maps.sputnik.ru/search/addr?q={address}')
    response = r.json()
    try:
        coordinates = response['result']['address'][0]['features'][0]['geometry']['geometries'][0]['coordinates']
        coordinates = coordinates[::-1]
    except Exception:
        coordinates = None
    return coordinates

In [8]:
df = pd.read_csv('kladr.csv', names=['kladr'])
df.head()

          kladr
0  100000100000
1  100500000100
2  100500002600
3  100600000100
4  100800001000

In [9]:
len(df)

15299

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15299 entries, 0 to 15298
Data columns (total 3 columns):
kladr          15299 non-null int64
address        8948 non-null object
coordinates    8948 non-null object
dtypes: int64(1), object(2)
memory usage: 358.6+ KB

In [12]:
addresses = []
coordinates = []
for kladr_id in df['kladr']:
    address = kladr_to_address_api(kladr_id)
    addresses.append(address)
    if address == None:
        coord = None
    else:
        coord = address_to_geo_coord_api(address)
    coordinates.append(coord)
df['address'] = addresses
df['coordinates'] = coordinates

In [13]:
df.to_csv('new_kladr.csv')

In [14]:
df_new = pd.read_csv('new_kladr.csv')

In [16]:
df_new.loc[pd.notnull(df_new['coordinates'])].head()

,Unnamed: 0,kladr,address,coordinates
395,395,1100000100000,"Респ Коми, г Сыктывкар","[61.668972, 50.834957]"
396,396,1100000800000,"Респ Коми, г Ухта","[63.562458, 53.684242]"
397,397,1200200002700,"Респ Марий Эл, Волжский р-н, поселок Кленовая ...","[56.133904, 48.426422]"
398,398,1200400002600,"Респ Марий Эл, Звениговский р-н, село Красный Яр","[56.033733, 48.02195]"
399,399,1300300000100,"Респ Мордовия, Атюрьевский р-н, село Атюрьево","[54.321823, 43.337704]"

In [17]:
df_new.loc[pd.isnull(df_new['coordinates'])].count()

Unnamed: 0     6351
kladr          6351
address           0
coordinates       0
dtype: int64

In [18]:
df_new.loc[pd.isnull(df_new['coordinates'])].head()

   Unnamed: 0         kladr address coordinates
0           0  100000100000     NaN         NaN
1           1  100500000100     NaN         NaN
2           2  100500002600     NaN         NaN
3           3  100600000100     NaN         NaN
4           4  100800001000     NaN         NaN