In [1]:
import requests
import requests_cache
import pandas as pd
import pyodbc

In [2]:
server = 'SR-SCORINGDB'
database = 'Scoring_OSAGO_TEST' 
username = 'bochkarev' 
password = 'ScorPass19'
sql_kladr = 'Select * from data_kladr'

In [3]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
df = pd.read_sql(sql_kladr,cnxn)
cnxn.close()

In [ ]:
cnxn.close()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15299 entries, 0 to 15298
Data columns (total 12 columns):
date                    15299 non-null datetime64[ns]
insurerKLADR            15299 non-null object
count_pol               15299 non-null int64
count_pol_with_claim    15299 non-null int64
claim_count             15299 non-null int64
claim_count_adj         15299 non-null float64
claim_sum               15299 non-null float64
paid_sum                15299 non-null float64
claim_sum_infl          15299 non-null float64
paid_sum_infl           15299 non-null float64
latitude                8948 non-null float64
longitude               8948 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(1)
memory usage: 1.4+ MB

In [5]:
df.head()

,date,insurerKLADR,count_pol,count_pol_with_claim,claim_count,claim_count_adj,claim_sum,paid_sum,claim_sum_infl,paid_sum_infl,latitude,longitude
0,2020-06-26 09:35:40.827,0100200000100,1,0,0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN
1,2020-06-26 09:35:40.827,0100500000900,4,0,0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN
2,2020-06-26 09:35:40.827,0100600002500,3,0,0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN
3,2020-06-26 09:35:40.827,0200000700000,47,1,1,1.398468,343873.5,343873.5,347912.009805,347912.009805,NaN,NaN
4,2020-06-26 09:35:40.827,0200001400000,17,3,3,2.997268,154654.2,154654.2,161001.938801,161001.938801,NaN,NaN

In [6]:
df.rename(columns={'insurerKLADR': 'kladr'}, inplace=True)

In [7]:
requests_cache.install_cache('api_cache', backend='sqlite', expire_after=900)

In [8]:
def kladr_to_address_api(kladr_id):   
  
    data = {
        "query": kladr_id
    }

    api_url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/fias'
    headers = {
        'content-type': 'application/json',
        'Authorization': 'Token 79abf89d58871ed1df79b83126f8f8c2362e51db'
    }
    response = requests.post(api_url, json=data, headers=headers)
    adress_json = response.json()
    try:
        adress_str = adress_json['suggestions'][0]['value']
    except Exception:
        adress_str = None
    return adress_str

In [9]:
def address_to_geo_coord_api(address):
    r = requests.get(f'http://search.maps.sputnik.ru/search/addr?q={address}')
    response = r.json()
    try:
        coordinates = response['result']['address'][0]['features'][0]['geometry']['geometries'][0]['coordinates']
        coordinates = coordinates[::-1]
    except Exception:
        coordinates = None
    return coordinates

In [10]:
df = df.loc[(pd.isnull(df['latitude']))|(pd.isnull(df['longitude']))]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6351 entries, 0 to 15099
Data columns (total 12 columns):
date                    6351 non-null datetime64[ns]
kladr                   6351 non-null object
count_pol               6351 non-null int64
count_pol_with_claim    6351 non-null int64
claim_count             6351 non-null int64
claim_count_adj         6351 non-null float64
claim_sum               6351 non-null float64
paid_sum                6351 non-null float64
claim_sum_infl          6351 non-null float64
paid_sum_infl           6351 non-null float64
latitude                0 non-null float64
longitude               0 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(1)
memory usage: 645.0+ KB

In [12]:
addresses = []
coordinates = []
for kladr_id in df['kladr']:
    address = kladr_to_address_api(kladr_id)
    addresses.append(address)
    if address == None:
        coord = None
    else:
        coord = address_to_geo_coord_api(address)
    coordinates.append(coord)
df['address'] = addresses
df['coordinates'] = coordinates

In [13]:
df.loc[pd.isnull(df['coordinates'])].count()

date                    185
kladr                   185
count_pol               185
count_pol_with_claim    185
claim_count             185
claim_count_adj         185
claim_sum               185
paid_sum                185
claim_sum_infl          185
paid_sum_infl           185
latitude                  0
longitude                 0
address                   6
coordinates               0
dtype: int64

In [14]:
df.loc[pd.isnull(df['coordinates'])].head()

,date,kladr,count_pol,count_pol_with_claim,claim_count,claim_count_adj,claim_sum,paid_sum,claim_sum_infl,paid_sum_infl,latitude,longitude,address,coordinates
81,2020-06-26 09:35:40.827,0300000102700,1,0,0,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,None,None
148,2020-06-26 09:35:40.827,0500000400300,4,1,1,1.372181,90000.0,90000.0,90225.0,90225.0,NaN,NaN,"Респ Дагестан, г Каспийск, мкр Кемпинг",None
471,2020-06-26 09:35:40.827,1401500001100,1,0,0,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,None,None
557,2020-06-26 09:35:40.827,1701600000400,1,0,0,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,None,None
585,2020-06-26 09:35:40.827,1900300400000,2,0,0,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,None,None

In [16]:
df_upd = df.loc[pd.notnull(df['coordinates'])].reset_index(drop=True)

In [17]:
df_upd['latitude'],df_upd['longitude']=zip(*df_upd['coordinates'])

In [18]:
df_upd.head()

,date,kladr,count_pol,count_pol_with_claim,claim_count,claim_count_adj,claim_sum,paid_sum,claim_sum_infl,paid_sum_infl,latitude,longitude,address,coordinates
0,2020-06-26 09:35:40.827,0100200000100,1,0,0,0.000000,0.0,0.0,0.000000,0.000000,44.896500,40.496365,"Респ Адыгея, Кошехабльский р-н, аул Кошехабль","[44.8965, 40.496365]"
1,2020-06-26 09:35:40.827,0100500000900,4,0,0,0.000000,0.0,0.0,0.000000,0.000000,45.024727,38.934097,"Респ Адыгея, Тахтамукайский р-н, аул Новая Адыгея","[45.024727, 38.934097]"
2,2020-06-26 09:35:40.827,0100600002500,3,0,0,0.000000,0.0,0.0,0.000000,0.000000,44.980830,39.096226,"Респ Адыгея, Теучежский р-н, пгт Тлюстенхабль","[44.98083, 39.096226]"
3,2020-06-26 09:35:40.827,0200000700000,47,1,1,1.398468,343873.5,343873.5,347912.009805,347912.009805,52.760980,55.796482,"Респ Башкортостан, г Кумертау","[52.76098, 55.796482]"
4,2020-06-26 09:35:40.827,0200001400000,17,3,3,2.997268,154654.2,154654.2,161001.938801,161001.938801,53.632374,55.952260,"Респ Башкортостан, г Стерлитамак","[53.632374, 55.95226]"

In [20]:
df_upd[['kladr','latitude','longitude']].to_csv('kladr_upd.csv', sep=';')