In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "1"

In [2]:
import pandas as pd
import numpy as np
from numpy import inf, mean, median
import math
import datetime
import json
import os
import glob
import pickle
import requests
# import requests_cache
import plotly.graph_objects as go
import plotly.express as px
import folium
from folium.plugins import MarkerCluster, HeatMap
import geopandas as gpd
import osm2geojson
import geojson
import shapely
from shapely import wkt
from shapely.geometry import Point, Polygon, LineString
from geopy.distance import geodesic, great_circle

In [3]:
import cudf # pandas на GPU
import cupy # numpy на GPU
import dask_cudf # multiple GPUs

import rmm

In [4]:
rmm.reinitialize(managed_memory=True)
assert(rmm.is_initialized())

In [5]:
pd.options.display.max_rows = 100

# Roads

In [6]:
with open('data_osm_roads_gdf_2.pickle', 'rb') as _f:
    data_osm_roads_gdf = pickle.load(_f)

In [7]:
data_osm_roads_gdf.shape

(57131, 9)

In [8]:
data_osm_roads_gdf.head()

,geometry,type,id,tags,highway,lanes,oneway,surface,representative_point
0,"LINESTRING (34.82303 57.38299, 34.82630 57.380...",way,4412349,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,2,yes,asphalt,POINT (34.82630 57.38061)
1,"LINESTRING (34.74326 57.44017, 34.74535 57.438...",way,4412351,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,1,yes,asphalt,POINT (34.74535 57.43867)
2,"LINESTRING (34.66128 57.49754, 34.66678 57.493...",way,4412353,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,1,yes,asphalt,POINT (34.67413 57.48855)
3,"LINESTRING (31.35035 56.34085, 31.35280 56.340...",way,4420591,"{'highway': 'trunk', 'int_ref': 'E 22', 'lanes...",trunk,2,None,asphalt,POINT (31.47337 56.32730)
4,"LINESTRING (31.58938 56.32759, 31.59669 56.328...",way,4420592,"{'highway': 'trunk', 'int_ref': 'E 22', 'lanes...",trunk,2,None,asphalt,POINT (31.63790 56.33436)

In [9]:
data_osm_roads_gdf['road_lon'] = data_osm_roads_gdf['representative_point'].x
data_osm_roads_gdf['road_lat'] = data_osm_roads_gdf['representative_point'].y

In [10]:
data_osm_roads_gdf.head()

,geometry,type,id,tags,highway,lanes,oneway,surface,representative_point,road_lon,road_lat
0,"LINESTRING (34.82303 57.38299, 34.82630 57.380...",way,4412349,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,2,yes,asphalt,POINT (34.82630 57.38061),34.826305,57.380612
1,"LINESTRING (34.74326 57.44017, 34.74535 57.438...",way,4412351,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,1,yes,asphalt,POINT (34.74535 57.43867),34.745351,57.438669
2,"LINESTRING (34.66128 57.49754, 34.66678 57.493...",way,4412353,"{'highway': 'trunk', 'int_ref': 'E 105;AH8', '...",trunk,1,yes,asphalt,POINT (34.67413 57.48855),34.674135,57.488555
3,"LINESTRING (31.35035 56.34085, 31.35280 56.340...",way,4420591,"{'highway': 'trunk', 'int_ref': 'E 22', 'lanes...",trunk,2,None,asphalt,POINT (31.47337 56.32730),31.473373,56.327296
4,"LINESTRING (31.58938 56.32759, 31.59669 56.328...",way,4420592,"{'highway': 'trunk', 'int_ref': 'E 22', 'lanes...",trunk,2,None,asphalt,POINT (31.63790 56.33436),31.637903,56.334365

# Points

In [82]:
data_points = pd.DataFrame({'kladr': [
    '0200000101500',
    '2700000100000',
    '5501900001100',
    '2801800001600',
    '2800000400000',
    '3301000006100',
    '3800000300000',
    '5401700005600',
    '5003200002100',
    '5003200003000',
    '5401800000600',
    '5401800001000',
    '3813300000700',
    '3813300001000',
    '5003200003100',
    '5003200005100',
    '5401800001200',
    '5401900000200',
    '5003200006500',
    '5003200007300',
    '3813300001100',
    '3813300001200',
    '5401900001500',
    '5401900002800',
    '3813300001500',
    '3813300002000',
    '5003200009200',
    '5003200010000',
    '5401900002900',
    '5402000000400',
    '3813300003300',
    '3813300003600',
    '5003200010400',
    '5003200010700',
    '5402000000500',
    '5402000000800',
    '3813300003700',
    '3813300003800',
    '3813300004500',
    '4000000107200',
    '5003200011900',
]})

In [83]:
def kladr_to_address_api(kladr_id):   
  
    data = {
        "query": kladr_id
    }

    api_url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/fias'
    headers = {
        'content-type': 'application/json',
        'Authorization': 'Token 79abf89d58871ed1df79b83126f8f8c2362e51db'
    }
    response = requests.post(api_url, json=data, headers=headers)
    adress_json = response.json()
    adress_str = adress_json['suggestions'][0]['value']
    return adress_str

In [84]:
def address_to_geo_coord_api(address):
    r = requests.get(f'http://search.maps.sputnik.ru/search/addr?q={address}')
    response = r.json()
    coordinates = response['result']['address'][0]['features'][0]['geometry']['geometries'][0]['coordinates']
    coordinates = coordinates[::-1]
    return coordinates

In [85]:
addresses = []
coordinates = []
for kladr in data_points['kladr']:
    address = kladr_to_address_api(kladr)
    addresses.append(address)
    coordinate = address_to_geo_coord_api(address)
    coordinates.append(coordinate)
    print(address, coordinate)
data_points['address'] = addresses
data_points['coordinates'] = coordinates

Респ Башкортостан, г Уфа, деревня Жилино [54.656384, 56.06246]
Хабаровский край, г Хабаровск [48.481403, 135.07693]
Омская обл, Одесский р-н, село Желанное [54.166344, 72.575775]
Амурская обл, Тамбовский р-н, село Муравьевка [49.837215, 127.73236]
Амурская обл, г Зея [53.740356, 127.27162]
Владимирская обл, Меленковский р-н, деревня Левенда [55.31677, 41.793613]
Иркутская обл, г Иркутск [52.289597, 104.28059]
Новосибирская обл, Кыштовский р-н, деревня Ядкан [56.733883, 76.515045]
Московская обл, г Серпухов, деревня Арнеево [54.915524, 37.41955]
Московская обл, г Серпухов, деревня Борисово [55.35957, 38.047356]
Новосибирская обл, Маслянинский р-н, село Большой Изырак [54.514095, 84.27022]
Новосибирская обл, Маслянинский р-н, село Дубровка [54.46441, 84.721375]
Иркутская обл, Эхирит-Булагатский р-н, деревня Верхняя Идыга [52.92196, 104.562065]
Иркутская обл, Эхирит-Булагатский р-н, село Захал [52.602913, 104.73313]
Московская обл, г Серпухов, деревня Бутурлино [54.92471, 37.484756]
Московская обл, г Серпухов, деревня Дашковка [54.915524, 37.41955]
Новосибирская обл, Маслянинский р-н, село Елбань [54.318886, 84.59383]
Новосибирская обл, Мошковский р-н, деревня Балта [55.51369, 83.87484]
Московская обл, г Серпухов, деревня Зиброво [54.915524, 37.41955]
Московская обл, г Серпухов, село Игумново [55.617462, 38.30447]
Иркутская обл, Эхирит-Булагатский р-н, село Капсал [52.68694, 104.64108]
Иркутская обл, Эхирит-Булагатский р-н, деревня Корсук [52.791546, 105.007935]
Новосибирская обл, Мошковский р-н, село Локти [55.268402, 83.18381]
Новосибирская обл, Мошковский р-н, поселок Радуга [55.49763, 83.734474]
Иркутская обл, Эхирит-Булагатский р-н, деревня Мурино [52.671654, 104.71901]
Иркутская обл, Эхирит-Булагатский р-н, село Тугутуй [52.683163, 104.81234]
Московская обл, г Серпухов, деревня Лукьяново [54.872475, 37.424114]
Московская обл, г Серпухов, деревня Михайловка [55.966698, 36.817646]
Новосибирская обл, Мошковский р-н, село Сарапулка [55.158222, 83.750015]
Новосибирская обл, Ордынский р-н, село Вагайцево [54.364994, 81.86246]
Иркутская обл, Эхирит-Булагатский р-н, деревня Хуты [53.229027, 105.3168]
Иркутская обл, Эхирит-Булагатский р-н, деревня Бухтумур [53.246384, 104.94238]
Московская обл, г Серпухов, деревня Нефедово [56.14782, 36.29156]
Московская обл, г Серпухов, деревня Никифорово [55.84437, 38.08948]
Новосибирская обл, Ордынский р-н, село Верх-Алеус [54.175667, 81.268394]
Новосибирская обл, Ордынский р-н, село Кирза [54.240887, 81.65425]
Иркутская обл, Эхирит-Булагатский р-н, деревня Тимошинск [53.274044, 104.95596]
Иркутская обл, Эхирит-Булагатский р-н, деревня Еловка [52.61272, 104.782265]
Иркутская обл, Эхирит-Булагатский р-н, деревня Толодой [52.803078, 104.557274]
Калужская обл, г Калуга, поселок Резвань [54.530582, 36.106823]
Московская обл, г Серпухов, деревня Паниково [54.95071, 37.388958]

In [86]:
data_points['lat'], data_points['lon'] = zip(*data_points['coordinates'])

In [87]:
data_points.shape

(41, 5)

In [88]:
data_points.head()

,kladr,address,coordinates,lat,lon
0,0200000101500,"Респ Башкортостан, г Уфа, деревня Жилино","[54.656384, 56.06246]",54.656384,56.062460
1,2700000100000,"Хабаровский край, г Хабаровск","[48.481403, 135.07693]",48.481403,135.076930
2,5501900001100,"Омская обл, Одесский р-н, село Желанное","[54.166344, 72.575775]",54.166344,72.575775
3,2801800001600,"Амурская обл, Тамбовский р-н, село Муравьевка","[49.837215, 127.73236]",49.837215,127.732360
4,2800000400000,"Амурская обл, г Зея","[53.740356, 127.27162]",53.740356,127.271620

# Points To Roads

In [89]:
data_points_2 = data_points.loc[(pd.notnull(data_points['lat']))&(pd.notnull(data_points['lon'])), ['kladr', 'lat', 'lon']].reset_index()

In [90]:
data_points_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   41 non-null     int64
 1   kladr   41 non-null     object
 2   lat     41 non-null     float64
 3   lon     41 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ KB

In [91]:
data_osm_roads_gdf_2 = data_osm_roads_gdf.loc[(pd.notnull(data_osm_roads_gdf['road_lat']))&(pd.notnull(data_osm_roads_gdf['road_lon'])), ['road_lon', 'road_lat']]

In [92]:
data_osm_roads_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 57131 entries, 0 to 57130
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   geometry              57131 non-null  geometry
 1   type                  57131 non-null  object
 2   id                    57131 non-null  int64
 3   tags                  57131 non-null  object
 4   highway               57131 non-null  object
 5   lanes                 42626 non-null  object
 6   oneway                35457 non-null  object
 7   surface               54209 non-null  object
 8   representative_point  57131 non-null  geometry
 9   road_lon              57131 non-null  float64
 10  road_lat              57131 non-null  float64
dtypes: float64(2), geometry(2), int64(1), object(6)
memory usage: 4.8+ MB

In [93]:
%%time
data_points2roads = pd.merge(data_points_2[['index', 'lat', 'lon']],
                             data_osm_roads_gdf_2,
                             how='cross',
                            )

CPU times: user 327 ms, sys: 313 ms, total: 640 ms
Wall time: 635 ms

In [94]:
data_points2roads.shape

(2342371, 5)

In [95]:
data_points2roads.head()

   index        lat       lon   road_lon   road_lat
0      0  54.656384  56.06246  34.826305  57.380612
1      0  54.656384  56.06246  34.745351  57.438669
2      0  54.656384  56.06246  34.674135  57.488555
3      0  54.656384  56.06246  31.473373  56.327296
4      0  54.656384  56.06246  31.637903  56.334365

In [96]:
data_points2roads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2342371 entries, 0 to 2342370
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   index     int64
 1   lat       float64
 2   lon       float64
 3   road_lon  float64
 4   road_lat  float64
dtypes: float64(4), int64(1)
memory usage: 107.2 MB

In [97]:
a = data_points2roads.to_numpy()
a

array([[ 0.      , 54.656384, 56.06246 , 34.826305, 57.380612],
       [ 0.      , 54.656384, 56.06246 , 34.745351, 57.438669],
       [ 0.      , 54.656384, 56.06246 , 34.674135, 57.488555],
       ...,
       [40.      , 54.95071 , 37.388958, 38.946385, 45.028139],
       [40.      , 54.95071 , 37.388958, 38.945421, 45.027111],
       [40.      , 54.95071 , 37.388958, 39.121434, 44.956281]])

In [98]:
# data_points2roads_cudf = cudf.DataFrame(data_points2roads) # почему-то не работает: Did not pass numpy.dtype object

data_points2roads_cudf = cudf.DataFrame(data_points2roads.to_numpy(), columns=['index', 'lat', 'lon', 'road_lon', 'road_lat'])

In [99]:
data_points2roads_cudf.head()

   index        lat       lon   road_lon   road_lat
0    0.0  54.656384  56.06246  34.826305  57.380612
1    0.0  54.656384  56.06246  34.745351  57.438669
2    0.0  54.656384  56.06246  34.674135  57.488555
3    0.0  54.656384  56.06246  31.473373  56.327296
4    0.0  54.656384  56.06246  31.637903  56.334365

In [100]:
data_points2roads_cudf.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 2342371 entries, 0 to 2342370
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   index     float64
 1   lat       float64
 2   lon       float64
 3   road_lon  float64
 4   road_lat  float64
dtypes: float64(5)
memory usage: 89.4 MB

In [101]:
def f_dist_simplifier_lat(city_lon_lat_point_lon_lat, max_val=6):
    city_lon = city_lon_lat_point_lon_lat[0]
    city_lat = city_lon_lat_point_lon_lat[1]
    point_lon = city_lon_lat_point_lon_lat[2]
    point_lat = city_lon_lat_point_lon_lat[3]
    if ((city_lat < point_lat + max_val) and
        (city_lat > point_lat - max_val)):
        return 1
    else:
        return 0

In [102]:
%%time
data_points2roads['simplifier_sign'] = data_points2roads[['road_lon', 'road_lat', 'lon', 'lat']].apply(f_dist_simplifier_lat, axis=1, args=(3,))

CPU times: user 2min 25s, sys: 5.59 s, total: 2min 30s
Wall time: 2min 30s

In [103]:
%%time
data_points2roads['simplifier_sign_2'] = 0
data_points2roads.loc[(data_points2roads['road_lat'] < data_points2roads['lat'] + 3) & (data_points2roads['road_lat'] > data_points2roads['lat'] - 3), 'simplifier_sign_2'] = 1

CPU times: user 63.4 ms, sys: 24.2 ms, total: 87.7 ms
Wall time: 85.6 ms

In [104]:
data_points2roads[['simplifier_sign', 'simplifier_sign_2']].groupby(['simplifier_sign', 'simplifier_sign_2']).size()

simplifier_sign  simplifier_sign_2
0                0                    1227322
1                1                    1115049
dtype: int64

In [105]:
%%time
data_points2roads = data_points2roads.loc[data_points2roads['simplifier_sign']==1]

CPU times: user 73.3 ms, sys: 36.4 ms, total: 110 ms
Wall time: 103 ms

In [106]:
data_points2roads.shape

(1115049, 7)

In [107]:
def f_dist_simplifier_lat_cudf(road_lat, lat, simplifier_sign, max_val=6):
    for i, (road_lat_i, lat_i) in enumerate(zip(road_lat, lat)):
        simplifier_sign[i] = 1 if road_lat_i < lat_i + max_val and road_lat_i > lat_i - max_val else 0

In [108]:
%%time
data_points2roads_cudf = data_points2roads_cudf.apply_rows(f_dist_simplifier_lat_cudf,
                                                           incols=['road_lat', 'lat'],
                                                           outcols=dict(simplifier_sign=np.int16,),
                                                           kwargs=dict(max_val=3,)
                                                          )

CPU times: user 441 ms, sys: 35.8 ms, total: 476 ms
Wall time: 474 ms

In [109]:
%%time
data_points2roads_cudf['simplifier_sign_2'] = 0
data_points2roads_cudf.loc[(data_points2roads_cudf['road_lat'] < data_points2roads_cudf['lat'] + 3) & (data_points2roads_cudf['road_lat'] > data_points2roads_cudf['lat'] - 3), 'simplifier_sign_2'] = 1

CPU times: user 32.7 ms, sys: 4.05 ms, total: 36.7 ms
Wall time: 34.8 ms

In [110]:
data_points2roads_cudf[['simplifier_sign', 'simplifier_sign_2']].groupby(['simplifier_sign', 'simplifier_sign_2']).size()

simplifier_sign  simplifier_sign_2
0                0                    1227322
1                1                    1115049
dtype: int32

In [111]:
%%time
data_points2roads_cudf = data_points2roads_cudf.loc[data_points2roads_cudf['simplifier_sign']==1]

CPU times: user 16.1 ms, sys: 8.02 ms, total: 24.1 ms
Wall time: 22.8 ms

In [112]:
data_points2roads_cudf.shape

(1115049, 7)

In [113]:
def f_dist_simplifier_lon(city_lon_lat_point_lon_lat, max_val=6):
    city_lon = city_lon_lat_point_lon_lat[0]
    city_lat = city_lon_lat_point_lon_lat[1]
    point_lon = city_lon_lat_point_lon_lat[2]
    point_lat = city_lon_lat_point_lon_lat[3]
    max_val = max_val / math.cos(math.radians(point_lat))
    if ((city_lon < point_lon + max_val) and
        (city_lon > point_lon - max_val)):
        return 1
    else:
        return 0

In [114]:
%%time
data_points2roads['simplifier_sign'] = data_points2roads[['road_lon', 'road_lat', 'lon', 'lat']].apply(f_dist_simplifier_lon, axis=1, args=(3,))

CPU times: user 44.2 s, sys: 641 ms, total: 44.9 s
Wall time: 44.9 s

In [115]:
%%time
data_points2roads['simplifier_sign_2'] = 0
data_points2roads.loc[(data_points2roads['road_lon'] < data_points2roads['lon'] + 3 / np.cos(np.radians(data_points2roads['lat']))) &
                      (data_points2roads['road_lon'] > data_points2roads['lon'] - 3 / np.cos(np.radians(data_points2roads['lat']))),
                      'simplifier_sign_2'] = 1

CPU times: user 91.9 ms, sys: 11.8 ms, total: 104 ms
Wall time: 101 ms

In [116]:
data_points2roads[['simplifier_sign', 'simplifier_sign_2']].groupby(['simplifier_sign', 'simplifier_sign_2']).size()

simplifier_sign  simplifier_sign_2
0                0                    887140
1                1                    227909
dtype: int64

In [117]:
%%time
data_points2roads = data_points2roads.loc[data_points2roads['simplifier_sign']==1]

CPU times: user 16.7 ms, sys: 34 µs, total: 16.7 ms
Wall time: 15 ms

In [118]:
data_points2roads.shape

(227909, 7)

In [119]:
def f_dist_simplifier_lon_cudf(road_lon, road_lat, lon, lat, simplifier_sign, max_val=6):
    for i, (road_lon_i, road_lat_i, lon_i, lat_i) in enumerate(zip(road_lon, road_lat, lon, lat)):
        max_val = max_val / math.cos(math.radians(lat_i))
        simplifier_sign[i] = 1 if road_lon_i < lon_i + max_val and road_lon_i > lon_i - max_val else 0

In [120]:
%%time
data_points2roads_cudf = data_points2roads_cudf.apply_rows(f_dist_simplifier_lon_cudf,
                                                           incols=['road_lon', 'road_lat', 'lon', 'lat'],
                                                           outcols=dict(simplifier_sign=np.int16,),
                                                           kwargs=dict(max_val=3,)
                                                          )

CPU times: user 691 ms, sys: 68 ms, total: 759 ms
Wall time: 754 ms

In [121]:
%%time
data_points2roads_cudf['simplifier_sign_2'] = 0
data_points2roads_cudf.loc[(data_points2roads_cudf['road_lon'] < data_points2roads_cudf['lon'] + 3 / np.cos(np.radians(data_points2roads_cudf['lat']))) &
                           (data_points2roads_cudf['road_lon'] > data_points2roads_cudf['lon'] - 3 / np.cos(np.radians(data_points2roads_cudf['lat']))),
                           'simplifier_sign_2'] = 1

CPU times: user 19.3 ms, sys: 16.2 ms, total: 35.5 ms
Wall time: 33.2 ms

In [122]:
data_points2roads_cudf[['simplifier_sign', 'simplifier_sign_2']].groupby(['simplifier_sign', 'simplifier_sign_2']).size()

simplifier_sign  simplifier_sign_2
0                0                    887140
1                1                    227909
dtype: int32

In [123]:
%%time
data_points2roads_cudf = data_points2roads_cudf.loc[data_points2roads_cudf['simplifier_sign']==1]

CPU times: user 67 µs, sys: 11.6 ms, total: 11.7 ms
Wall time: 9.99 ms

In [124]:
data_points2roads_cudf.shape

(227909, 7)

In [125]:
def f_dist(lon_lat_1_2):
    lon_1 = lon_lat_1_2[0]
    lat_1 = lon_lat_1_2[1]
    lon_2 = lon_lat_1_2[2]
    lat_2 = lon_lat_1_2[3]
    if pd.isnull(lon_1):
        return None
    if pd.isnull(lat_1):
        return None
    if pd.isnull(lon_2):
        return None
    if pd.isnull(lat_2):
        return None
    return geodesic((lat_1, lon_1), (lat_2, lon_2)).km

In [126]:
def f_dist_2(lon_lat_1_2):
    lon_1 = lon_lat_1_2[0]
    lat_1 = lon_lat_1_2[1]
    lon_2 = lon_lat_1_2[2]
    lat_2 = lon_lat_1_2[3]
    if pd.isnull(lon_1):
        return None
    if pd.isnull(lat_1):
        return None
    if pd.isnull(lon_2):
        return None
    if pd.isnull(lat_2):
        return None
    return great_circle((lat_1, lon_1), (lat_2, lon_2)).km

In [127]:
%%time
data_points2roads['dist'] = data_points2roads[['road_lon', 'road_lat', 'lon', 'lat']].apply(f_dist, axis=1)

CPU times: user 2min, sys: 676 ms, total: 2min 1s
Wall time: 2min 1s

In [128]:
%%time
data_points2roads['dist_2'] = data_points2roads[['road_lon', 'road_lat', 'lon', 'lat']].apply(f_dist_2, axis=1)

CPU times: user 20.1 s, sys: 307 ms, total: 20.4 s
Wall time: 20.4 s

In [129]:
%%time
data_points2roads['dlon'] = math.pi/180 * (data_points2roads['road_lon'] - data_points2roads['lon'])
data_points2roads['dlat'] = math.pi/180 * (data_points2roads['road_lat'] - data_points2roads['lat'])
data_points2roads['a'] = np.sin(data_points2roads['dlat']/2)**2 + np.cos(math.pi/180 * data_points2roads['road_lat']) * np.cos(math.pi/180 * data_points2roads['lat']) * np.sin(data_points2roads['dlon']/2)**2
data_points2roads['c'] = 2 * np.arcsin(np.sqrt(data_points2roads['a']))
data_points2roads['dist_3'] = data_points2roads['c'] * 6371.009

CPU times: user 41.6 ms, sys: 72 µs, total: 41.7 ms
Wall time: 39.2 ms

In [130]:
print(f"dist_min = {min(data_points2roads['dist'])} km, dist_max = {max(data_points2roads['dist'])} km")

dist_min = 0.7629011068564221 km, dist_max = 473.7697927006493 km

In [131]:
print(f"dist_min_2 = {min(data_points2roads['dist_2'])} km, dist_max_2 = {max(data_points2roads['dist_2'])} km")

dist_min_2 = 0.7620252340092496 km, dist_max_2 = 472.787098318829 km

In [132]:
print(f"dist_min_3 = {min(data_points2roads['dist_3'])} km, dist_max_3 = {max(data_points2roads['dist_3'])} km")

dist_min_3 = 0.7620252340087279 km, dist_max_3 = 472.7870983188284 km

In [133]:
data_points2roads.head()

,index,lat,lon,road_lon,road_lat,simplifier_sign,simplifier_sign_2,dist,dist_2,dlon,dlat,a,c,dist_3
11986,0,54.656384,56.06246,51.208425,52.849901,1,1,377.955123,376.961471,-0.084719,-0.031529,0.000875,0.059168,376.961471
11990,0,54.656384,56.06246,51.120501,52.864984,1,1,381.946933,380.933121,-0.086253,-0.031266,0.000893,0.059792,380.933121
12026,0,54.656384,56.06246,51.702642,52.765198,1,1,356.514605,355.633692,-0.076093,-0.033007,0.000779,0.055821,355.633692
12151,0,54.656384,56.06246,51.220868,52.847263,1,1,377.425755,376.434978,-0.084502,-0.031575,0.000873,0.059086,376.434978
12152,0,54.656384,56.06246,51.227666,52.845825,1,1,377.136842,376.147636,-0.084383,-0.031600,0.000871,0.059041,376.147636

In [134]:
def f_dist_cudf(road_lon, road_lat, lon, lat, dist):
    for i, (lon_1, lat_1, lon_2, lat_2) in enumerate(zip(road_lon, road_lat, lon, lat)):
        lon_1 = math.radians(lon_1)
        lat_1 = math.radians(lat_1)
        lon_2 = math.radians(lon_2)
        lat_2 = math.radians(lat_2)
        dlon = lon_2 - lon_1
        dlat = lat_2 - lat_1
        a = math.sin(dlat/2)**2 + math.cos(lat_1) * math.cos(lat_2) * math.sin(dlon/2)**2        
        c = 2 * math.asin(math.sqrt(a)) 
        r = 6371.009 # Radius of earth in kilometers
        dist[i] = c * r

In [135]:
%%time
data_points2roads_cudf = data_points2roads_cudf.apply_rows(f_dist_cudf,
                                                           incols=['road_lon', 'road_lat', 'lon', 'lat'],
                                                           outcols=dict(dist=np.float64,),
                                                           kwargs=dict()
                                                          )

CPU times: user 745 ms, sys: 79.9 ms, total: 825 ms
Wall time: 822 ms

In [136]:
%%time
data_points2roads_cudf['dlon'] = math.pi/180 * (data_points2roads_cudf['road_lon'] - data_points2roads_cudf['lon'])
data_points2roads_cudf['dlat'] = math.pi/180 * (data_points2roads_cudf['road_lat'] - data_points2roads_cudf['lat'])
data_points2roads_cudf['a'] = np.sin(data_points2roads_cudf['dlat']/2)**2 + np.cos(math.pi/180 * data_points2roads_cudf['road_lat']) * np.cos(math.pi/180 * data_points2roads_cudf['lat']) * np.sin(data_points2roads_cudf['dlon']/2)**2
data_points2roads_cudf['c'] = 2 * np.arcsin(np.sqrt(data_points2roads_cudf['a']))
data_points2roads_cudf['dist_3'] = data_points2roads_cudf['c'] * 6371.009

CPU times: user 19.5 ms, sys: 7.99 ms, total: 27.5 ms
Wall time: 23.2 ms

In [137]:
print(f"dist_min = {min(data_points2roads_cudf['dist'].to_pandas())} km, dist_max = {max(data_points2roads_cudf['dist'].to_pandas())} km")

dist_min = 0.7620252340090102 km, dist_max = 472.7870983188284 km

In [138]:
print(f"dist_min_3 = {min(data_points2roads_cudf['dist_3'].to_pandas())} km, dist_max_3 = {max(data_points2roads_cudf['dist_3'].to_pandas())} km")

dist_min_3 = 0.7620252340087279 km, dist_max_3 = 472.7870983188285 km

In [139]:
data_points2roads_cudf.head()

,index,lat,lon,road_lon,road_lat,simplifier_sign,simplifier_sign_2,dist,dlon,dlat,a,c,dist_3
11986,0.0,54.656384,56.06246,51.208425,52.849901,1,1,376.961471,-0.084719,-0.031529,0.000875,0.059168,376.961471
11990,0.0,54.656384,56.06246,51.120501,52.864984,1,1,380.933121,-0.086253,-0.031266,0.000893,0.059792,380.933121
12026,0.0,54.656384,56.06246,51.702642,52.765198,1,1,355.633692,-0.076093,-0.033007,0.000779,0.055821,355.633692
12151,0.0,54.656384,56.06246,51.220868,52.847263,1,1,376.434978,-0.084502,-0.031575,0.000873,0.059086,376.434978
12152,0.0,54.656384,56.06246,51.227666,52.845825,1,1,376.147636,-0.084383,-0.031600,0.000871,0.059041,376.147636

# Update Points

## The Nearest Road

data_points2roads = data_points2roads_cudf.to_pandas()

In [140]:
%%time
data_points2roads_gr = data_points2roads.loc[:, ['index', 'dist']].groupby('index').min().reset_index()

CPU times: user 30 ms, sys: 16.9 ms, total: 46.9 ms
Wall time: 43.4 ms

In [141]:
data_points2roads_gr.rename(columns={'dist':'dist_to_road'}, inplace=True)

In [142]:
data_points2roads_gr.shape

(41, 2)

In [143]:
data_points2roads_gr.head()

   index  dist_to_road
0      0      0.762901
1      1      2.084580
2      2     13.382664
3      3     40.830141
4      4     79.173231

## Update

In [144]:
%%time
data_points = data_points.merge(data_points_2[['kladr', 'index']], right_on='kladr', left_on='kladr', how='left')

CPU times: user 8.2 ms, sys: 14 µs, total: 8.21 ms
Wall time: 7.53 ms

In [145]:
%%time
data_points = data_points.merge(data_points2roads_gr, right_on='index', left_on='index', how='left')

CPU times: user 5.64 ms, sys: 76 µs, total: 5.72 ms
Wall time: 5.1 ms

In [146]:
data_points.loc[pd.isnull(data_points['dist_to_road']), 'dist_to_road'] = 300
data_points.loc[data_points['dist_to_road']>300, 'dist_to_road'] = 300

In [147]:
data_points.shape

(41, 7)

In [148]:
data_points.head()

,kladr,address,coordinates,lat,lon,index,dist_to_road
0,0200000101500,"Респ Башкортостан, г Уфа, деревня Жилино","[54.656384, 56.06246]",54.656384,56.062460,0,0.762901
1,2700000100000,"Хабаровский край, г Хабаровск","[48.481403, 135.07693]",48.481403,135.076930,1,2.084580
2,5501900001100,"Омская обл, Одесский р-н, село Желанное","[54.166344, 72.575775]",54.166344,72.575775,2,13.382664
3,2801800001600,"Амурская обл, Тамбовский р-н, село Муравьевка","[49.837215, 127.73236]",49.837215,127.732360,3,40.830141
4,2800000400000,"Амурская обл, г Зея","[53.740356, 127.27162]",53.740356,127.271620,4,79.173231

In [130]:
with open('data_points.pickle', 'wb') as _f:
    pickle.dump(data_points, _f, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('data_points.pickle', 'rb') as _f:
    data_points = pickle.load(_f)